$color-gray-900: rgba(5, 5, 5, 0.95);
$color-gray-800: rgba(35, 35, 35, 0.95);
$color-gray-700: rgba(65, 65, 65, 0.95);
$color-gray-600: rgba(95, 95, 95, 0.95);
$color-gray-500: rgba(125, 125, 125, 0.95);
$color-gray-400: rgba(155, 155, 155, 0.95);
$color-gray-300: rgba(185, 185, 185, 0.95);
$color-gray-200: rgba(215, 215, 215, 0.95);
$color-gray-100: rgba(245, 245, 245, 0.95);
