@use "/src/app/variables.scss" as *;

$primary-color: $color-green-600;
$secondary-color: transparent;
$tertiary-color: transparent;

.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
  font-size: 1.1em;
}

.primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $color-gray-100;

  &:hover {
    background-color: $color-green-500;
    border-color: $color-green-500;
  }
}

.secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: inherit;
}

.tertiary {
  background-color: $tertiary-color;
  padding: 0;
  height: fit-content;
  width: fit-content;
  border: none;
  color: inherit;
}
