@import "/src/app/variables.scss";

.canvas {
  flex-grow: 1;
  background-color: $color-gray-800;
  border: 1px solid $color-gray-400;
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 16px 0 0 0;
  height: 100%;
  padding: 32px;
  width: 100%;
}
